
//Color Cube
$white: #fefefe;
$black: #010101;
$tundora: #555555;
$gunsmoke: #858786;
$ecstasy: #f76210;
$golden-fream: #efd43f;
$magic-mint: #95f1be;
$turqoise: #30cfc3;
$persian-blue: #223bcb;
$lime: #78e733;

//median cut
$gray-nurse: #f5f5f5;
$shark: #1b1c1d;
$spicy-mix: #875f4a;
$sundance: #c8af56;
$puerto-rico: #38c3a0;

//material design
$tango: #eb621f;
$flax-smoke: #7e876a;
$cerulean-blue: #2455b0;
$nandor: #495653;
$starship: #ece046;



$main-font: Arial;